<!DOCTYPE html>
<html>

<head>
	<title>CS183 Final Project</title>
</head>

<body>
	<h1>User Creation Special Permissions</h1>

	<form action="/script" method="POST">
			User Name : <input type="text" name="username" id="username"> 
					<br>

			Home Directory : <input type="text" name="homedir" id="homedir"> 
					<br>

			Specific User ID : <input type="text" name="userid" id="userid">
					<br>

			Specific Group ID : <input type="text" name="groupid" id="groupid">
					<br>

			Custom Description : <input type="text" name="description" id="description">
					<br>

			User Expiry Date : <input type="text" name="user_exp" id="user_exp">
			<br>
					
			<button id='loginbutton' type="submit">Register</button>
	</form>
</body>

</html>
