<!DOCTYPE html>
<html>

<head>
	<title>Pre-Filled Form Demo</title>
	<link rel="stylesheet" type="text/css"   href="/css/style.css">
</head>

<body>
	<h1>
		Full script to create a group to your input specifications:
	</h1>

	<div id="scriptWrapper">
		<div id="scriptDisplayContainer">
			<p>
				groupadd
				
				<% groupid = info.groupid %>
				<% if (groupid) { %>
					-g <%= groupid %>
				<% } %>

				<% nonuniqueGID = info.nonuniqueGID %>
				<% if (nonuniqueGID) { %>
					-o
				<% } %>

				<% systemaccount = info.systemaccount %>
				<% if (systemaccount) { %>
					-r
				<% } %>

				<% successstatus = info.successstatus %>
				<% if (successstatus) { %>
					-f
				<% } %>
				
				<%= info.groupname %>
			</p>
		</div>
	</div>

</body>

</html>
