<!DOCTYPE html>
<html>

<head>
	<title>CS183 Final Project</title>
	<link rel="stylesheet" type="text/css"   href="/css/style.css">
</head>

<body>
	<h1>Group Deletion Special Permissions</h1>

	<div id="formWrapper">
		<form action="/deleteGroupScript" method="POST" id="inputForm">
			<div class="inputGroup">
				Group Name : <input type="text" name="groupname" id="groupname" class="inputBox" required> 
				<br>
			</div>	
						
			<button id='loginbutton' type="submit">Delete Group</button>
		</form>
	</div>
</body>

</html>
