<!DOCTYPE html>
<html>

<head>
	<title>Pre-Filled Form Demo</title>
	<link rel="stylesheet" type="text/css"   href="/css/style.css">
</head>

<body>
	<h1>
		Full script to delete a group to your input specifications:
	</h1>

	<div id="scriptWrapper">
		<div id="scriptDisplayContainer">
			<p>
				groupdel
								
				<%= info.groupname %>
			</p>
		</div>
	</div>

</body>

</html>
