<!DOCTYPE html>
<html>

<head>
	<title>Pre-Filled Form Demo</title>
	<link rel="stylesheet" type="text/css"   href="/css/style.css">
</head>

<body>
	<h1>
		Choose what you would like to do!
	</h1>

    <div id="homeformcontainer">
        <form action="/createUser" method="POST" id="homeform">
            <button id='loginbutton' type="submit">Create User</button>
        </form>
        
        <form action="/modifyUser" method="POST" id="homeform">
            <button id='loginbutton' type="submit">Modify User</button>
        </form>
         
        <form action="/deleteUser" method="POST" id="homeform">
            <button id='loginbutton' type="submit">Delete User</button>
        </form>
         
        <form action="/createGroup" method="POST" id="homeform">
            <button id='loginbutton' type="submit">Create Group</button>
        </form>
         
        <form action="/modifyGroup" method="POST" id="homeform">
            <button id='loginbutton' type="submit">Modify Group</button>
        </form>
         
        <form action="/deleteGroup" method="POST" id="homeform">
            <button id='loginbutton' type="submit">Delete Group</button>
        </form>
    </div>
</body>

</html>
