<!DOCTYPE html>
<html>

<head>
	<title>Pre-Filled Form Demo</title>
</head>

<body>
	hey	poggers

	<%= Object.keys(info).length;%>

	<!-- <%= info.username%> -->


	<br>

	<!-- <% for (var i =1; i <=Object.keys(info).length;  i++ ) { %>
	<br/>  <%=info.homedir%> 
	<%#  will output the numbers 1-10 %>
	<% } %> -->

	<% if (info.username == 0) { %>
	<%=		"NULL"%>
	<% }%>
	

	<!-- trying to get a for loop to work^^^ -->

</body>

</html>
