body {
	background-color: rgb(71, 71, 71);
}

h1 {
	/* font-family:'Times New Roman', Times, serif; */
	color: rgb(200, 209, 211);
	width: 100%;
	text-align: center;
}

#formWrapper {
	display: flex;
	justify-content: center;
}

#inputForm {
	display: flex;
	color: rgb(0, 0, 0);
	width: 800px;
	flex-direction: column;
	align-items: center;
	background-color: rgb(200, 209, 211);
	padding-top: 1%;
	padding-bottom: 1%;
}

.inputGroup {
	padding: 1%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.inputBox {
	text-align: center;
}

#loginbutton {
	margin-top: 1%;
	padding: 1%;
	padding-left: 2%;
	padding-right: 2%;
	font-size: large;
}





#scriptWrapper {
	display: flex;
	justify-content: center;
}

#scriptDisplayContainer {
	padding: 10px;
	width: 50%;
	text-align: center;
	background-color: rgb(200, 209, 211);
}